<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css-1/css-pages.css">
    <title>Restaurants</title>
</head>

<body>
    <a id="top-link" href="/restaurant/new">Create New Restaurant</a>
    <% for( let i=0; i < restaurants.length; i++ ) { %>
        <% let a=restaurants[i]; %>
            <% a=a.toJSON() %>
                <div class="container-1">
                    <p class="name-index">
                        <%= a.name %>
                    </p>
                    <ul class="hours-index">Hours:
                        <li>Mon: <%= a.mon %>
                        </li>
                        <li>Tue: <%= a.tue %>
                        </li>
                        <li>Wed: <%= a.wed %>
                        </li>
                        <li>Thu: <%= a.thu %>
                        </li>
                        <li>Fri: <%= a.fri %>
                        </li>
                        <li>Sat: <%= a.sat %>
                        </li>
                        <li>Sun: <%= a.sun %>
                        </li>
                    </ul>
                    <p class="loc-pic-index">Location Pictures:<%= a.locPicture %>
                    </p>
                    <p class="food-pic-index">Food Pictures:<%= a.foodPicture %>
                    </p>
                    <div>Rating: <%= a.rating %>
                            <p> Price: <%= a.price %>
                            </p>
                        </div>
                    <div class="description-index">Description: <%= a.description %>
                            <p>Categories: <%= a.categories %>
                            </p>
                    </div>
                    <p class="loc-index">
                        <%= a.location %>
                    </p>
                    <p>Verified: <% if (a.verified===true) { %>
                            <%= 'yes' %>
                                <% } else { %>
                                    <%= 'no' %>
                                        <% } %>
                    </p>

                    <p>Review: <%= a.review %>
                    </p>
                    <a class="view-index" href="/restaurant/<%=a.id%>">View Restaurant</a>
                </div>
                <% } %>
</body>

</html>