<body>
    <a href="<%= food1.restaurantId %>/food">Show Restaurant Foods</a>
    <p>id: <%= food1.id %></p>
    <p>description: <%= food1.description %></p>
    <p>ingredients: <%= food1.ingredients %></p>
    <p>meal: <%= food1.name %></p>
    <p>Food Type: <%= food1.name %></p>
    <p>Price: <%= food1.price %></p>
    <p>likes: <%= food1.likes %></p>
    <a href="/food/edit/<%=food1.id%>">Edit</a>

    <!-- <form method="post" action="/restaurants/<%= food1.id %>/?_method=DELETE">
        <input type="submit" value="Delete restaurant">
    </form> -->
</body>